<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="login-box">
                <h3>Forgot Password</h3>
                <h6>Enter your email and we will send you a reset password link.</h6>
                <form [formGroup]="forget_form" (ngSubmit)="Forget_Password()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email address" formControlName="email"
                            name="email">
                    </div>
                    <!-- <button class="btn btn-primary btn-block" routerLink="/reset-password/skhdfkdshf">Send Request</button> -->
                    <button class="btn btn-primary btn-block" [disabled]="!forget_form.valid">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>