<div class="admin-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="edit_profile_form" (ngSubmit)="EditStudentProfile()">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Personal Details</h5>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe"
                                        formControlName="name" name="name" [(ngModel)]="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="123 456 7890"
                                        formControlName="phone" name="phone" [(ngModel)]="phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Email Id</label>
                                    <input type="email" class="form-control" placeholder="john123@gmail.com"
                                        formControlName="email" name="email" [(ngModel)]="email" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Address</label>
                                    <input type="text" class="form-control" placeholder="Address"
                                        formControlName="address" name="address" [(ngModel)]="address">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">State</label>
                                    <select name="" id="" formControlName="state" aria-placeholder="State"
                                        class="form-control" (change)="BasedOntheState(state)" [(ngModel)]="state"
                                        name="state" [(ngModel)]="state">
                                        <option value="" disabled>State</option>
                                        <option [value]="st.state" *ngFor="let st of state_array">{{st.state}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">City</label>
                                    <select name="" id="" class="form-control" aria-placeholder="City"
                                        [(ngModel)]="city" name="city" formControlName="city" [(ngModel)]="city">
                                        <option value="" disabled>City</option>
                                        <option [value]="ct" *ngFor="let ct of city_array">{{ct}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Zip Code</label>
                                    <input type="text" class="form-control" placeholder="Pincode"
                                        formControlName="pincode" name="pincode" [(ngModel)]="pincode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <h5 class="card-title">Profile image</h5>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="uploaded-doc profile-pic-uploader">
                                                <img src="{{profile_img}}" alt="">
                                            </div>
                                            <div class="custom-file my-3">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                                    (change)="ProfileUpload($event)">
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <p>{{profile_uploded_msg}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right my-4">
                            <button class="btn btn-primary px-5"
                                [disabled]="!this.edit_profile_form.valid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>