<section>
    <div class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-wrap d-block mt-5">
                        <div class="email-varify-logo">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                        <div class="mail-varify-box">
                            <div class="mail-varify-msg">
                                <i class="fa fa-envelope fa-3x text-success"></i>
                                <h6 class="mail-varify-msg-text">
                                    {{verification_msg}}
                                </h6>
                                
                            </div>
                        </div>
                        <div class="text-center my-3">
                            <a [routerLink]="['/login']" class="btn btn-primary"><i class="fa fa-arrow-left text-white"></i>
                                Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner></ngx-spinner>