<div class="admin-wrap">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Competency List</h1>
        <div>

            <form [formGroup]="competency_form" (ngSubmit)="SaveCompetency()">
                <div class="row">
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" placeholder="Enter competency area"
                            formControlName="competency">
                    </div>
                    <div class="form-group col-md-5">
                        <button class="btn btn-primary btn-block" [disabled]="!competency_form.valid">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Competency Area</th>
                    <th>Status</th>
                    <th width="200">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of competency_array; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{row.username}}
                    </td>
                    <td>
                        {{row.email}}
                    </td>
                    <td *ngIf="row.block_by_admin == true">
                        <span class="badge badge-danger"> Yes</span>
                    </td>
                    <td *ngIf="row.block_by_admin == false">
                        <span class="badge badge-success"> No</span>
                    </td>
                    <td>
                        <a class="btn btn-info" title="View" (click)=Competency_Details(row) data-toggle="modal"
                            data-target="#modal-default">
                            <i class="far fa-eye"></i>
                        </a>
                        <a class="btn btn-success mx-2" title="block" *ngIf="row.block_by_admin == true"
                            (click)="Competency_Status(row, false)">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-success mx-2" title="block" *ngIf="row.block_by_admin == false"
                            (click)="Competency_Status(row, true)">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                        <!-- <a href="#" class="btn btn-success mx-2" title="Edit">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="#" class="btn btn-danger" title="Delete">
                            <i class="far fa-trash-alt"></i>
                        </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <b>Teacher Details.</b>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile" *ngFor="let row of teacher_details; let i = index">
                        <div class="text-center">
                            <img src="assets/images/avatar.jpg" alt="" *ngIf="row.profile_img == ''"
                                style="width: 200px;">
                            <img src="{{ROOT_URL}}/{{row.profile_img}}" alt="" *ngIf="row.profile_img != ''"
                                style="width: 40%; height: 120px;">
                        </div>
                        <h3 class="profile-username text-center">{{row.username}}</h3>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Email</b> <a class="float-right">{{row.email}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone</b> <a class="float-right">{{row.phone}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<ngx-spinner></ngx-spinner>