<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="login-box">
                <h3>Reset Password</h3>
                <form [formGroup]="reset_form" (ngSubmit)="Reset_Password()">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter new password"
                            formControlName="password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Re-enter new password"
                            formControlName="confirm_password" name="confirm_password">
                    </div>
                    <div class="form-group text-center">
                        <p class="text-muted">
                            <small>Passwords should contain atleast eight character: Uppercase letters: A-Z.
                                Lowercase letters: a-z. Numbers: 0-9. Special characters: $,@,$,!,%,*,?,&</small>
                        </p>
                    </div>
                    <button class="btn btn-primary btn-block" [disabled]="!reset_form.valid">Reset Password</button>
                    <!-- <button class="btn btn-primary btn-block" routerLink="/login">Reset Password</button> -->
                    <mat-error *ngIf="reset_form.hasError('notSame')">
                        <span style="color: red;">Passwords do not match</span>
                    </mat-error>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>
