<div class="admin-wrap">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Teacher List</h1>
        <div class="row">

        </div>

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Block</th>
                    <th width="200">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of teacher_array; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{row.username}}
                    </td>
                    <td>
                        {{row.email}}
                    </td>
                    <td *ngIf="row.block_by_admin == true">
                        <span class="badge badge-danger"> Yes</span>
                    </td>
                    <td *ngIf="row.block_by_admin == false">
                        <span class="badge badge-success"> No</span>
                    </td>
                    <td>
                        <a class="btn btn-info" title="View" (click)=Teacher_Details(row) data-toggle="modal"
                            data-target="#modal-default">
                            <i class="far fa-eye"></i>
                        </a>
                        <a class="btn btn-success mx-2" title="block" *ngIf="row.block_by_admin == true"
                            (click)="Teacher_Block_Status(row, false)">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-success mx-2" title="block" *ngIf="row.block_by_admin == false"
                            (click)="Teacher_Block_Status(row, true)">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                        <!-- <a href="#" class="btn btn-success mx-2" title="Edit">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="#" class="btn btn-danger" title="Delete">
                            <i class="far fa-trash-alt"></i>
                        </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <b>Teacher Details.</b>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile" *ngFor="let row of teacher_details; let i = index">
                        <div class="text-center">
                            <img src="assets/images/avatar.jpg" alt="" *ngIf="row.profile_img == ''"
                                style="width: 200px;">
                            <img src="{{row.profile_image}}" alt="" *ngIf="row.profile_img != ''"
                                style="width: 40%; height: 120px;">
                        </div>
                        <h3 class="profile-username text-center">{{row.username}}</h3>
                        <!-- <p class="text-muted text-center">{{row.grades_name}}</p> -->
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Email</b> <a class="float-right">{{row.email}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone</b> <a class="float-right">{{row.phone}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Address</b> <a class="float-right"
                                    *ngIf="row.address != null && row.address != '' ">{{row.address}},
                                    {{row.city}},{{row.state}},{{row.zip_code}}
                                </a>
                            </li>
                            <li class="list-group-item">
                                <b>Certificate</b>
                                <a *ngIf="row.certificate != null && row.certificate != ''" class="float-right"
                                    target="_blank" href="{{row.certificate_img}}">
                                    <i class="fa fa-file-pdf-o fa-2x"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <b>Id Proof</b>
                                <a *ngIf="row.id_proof != null && row.id_proof != ''" class="float-right"
                                    target="_blank" href="{{row.id_proof_img}}">
                                    <i class="fa fa-file-pdf-o fa-2x"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <b>Resume</b>
                                <a *ngIf="row.tch_resume != null && row.tch_resume != ''" class="float-right"
                                    target="_blank" href="{{row.tch_resume_img}}">
                                    <i class="fa fa-file-pdf-o fa-2x"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <b>Education Details</b>
                                <div class="row" *ngIf="row.edu_qualification != null && row.edu_qualification != ''">
                                    <div class="col-12 p-1" *ngFor="let r1 of row.edu_qualification, let M = index">
                                        {{r1.school_name}} ({{r1.duration_from}} - {{r1.duration_to}})
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <b>Competency Area </b>
                                <div class="row" *ngIf="row.competency_area != null && row.competency_area != ''">
                                    <div class="col-6 p-1" *ngFor="let r1 of row.competency_area, let M = index">
                                        {{r1}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <b>Teaching Experience </b>
                                <div class="row" *ngIf="row.tch_information != null && row.tch_information != ''">
                                    <div class="col-12 p-1" *ngFor="let r1 of row.tch_information, let M = index">
                                        {{r1.college_name}} ({{r1.experience}}) ({{r1.duration_from}} - {{r1.duration_to}})
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <b>Created_at</b> <a class="float-right">{{row.created_at | date:'d MMM y'}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>