<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Payment</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Payment History</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12 text-center">
            <h3 class="main-heading">Payment History</h3>
            <div class="payment-card">
                <ul>
                    <li class="success">
                        <h3>
                            ₹10455
                            <span>Total Earn</span>
                        </h3>
                    </li>
                    <li class="primary">
                        <h3>
                            15
                            <span>Course Booked</span>
                        </h3>
                    </li>
                    <li class="warning">
                        <h3>
                            ₹1040
                            <span>Total Refund</span>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Course</th>
                        <th>Students</th>
                        <th>Cost per Course</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>
                            17-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           20 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹9100
                        </td>
                        <td>
                            <span class="text-success">Paid</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17-06-2021
                        </td>
                        <td>
                            The Complete JavaScript Course 202...
                        </td>
                        <td>
                           10 
                        </td>
                        <td>
                            ₹350
                        </td>
                        <td>
                            ₹3500
                        </td>
                        <td>
                            <span class="text-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           2 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹910
                        </td>
                        <td>
                            <span class="text-primary">Refund</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           20 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹9100
                        </td>
                        <td>
                            <span class="text-success">Paid</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18-06-2021
                        </td>
                        <td>
                            The Complete JavaScript Course 202...
                        </td>
                        <td>
                           10 
                        </td>
                        <td>
                            ₹350
                        </td>
                        <td>
                            ₹3500
                        </td>
                        <td>
                            <span class="text-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           2 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹910
                        </td>
                        <td>
                            <span class="text-primary">Refund</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19-06-2021
                        </td>
                        <td>
                            The Complete JavaScript Course 202...
                        </td>
                        <td>
                           10 
                        </td>
                        <td>
                            ₹350
                        </td>
                        <td>
                            ₹3500
                        </td>
                        <td>
                            <span class="text-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19-06-2021
                        </td>
                        <td>
                            The Complete JavaScript Course 202...
                        </td>
                        <td>
                           10 
                        </td>
                        <td>
                            ₹350
                        </td>
                        <td>
                            ₹3500
                        </td>
                        <td>
                            <span class="text-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           2 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹910
                        </td>
                        <td>
                            <span class="text-primary">Refund</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20-06-2021
                        </td>
                        <td>
                            The Web Developer Bootcamp 2021
                        </td>
                        <td>
                           2 
                        </td>
                        <td>
                            ₹455
                        </td>
                        <td>
                            ₹910
                        </td>
                        <td>
                            <span class="text-primary">Refund</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21-06-2021
                        </td>
                        <td>
                            The Complete JavaScript Course 202...
                        </td>
                        <td>
                           10 
                        </td>
                        <td>
                            ₹350
                        </td>
                        <td>
                            ₹3500
                        </td>
                        <td>
                            <span class="text-warning">Pending</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>