<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="login-box">
                    <h3>Please enter the One Time Password to verify your account</h3>
                    <h6>A One Time Password has benn sent to xxx-xxx-xx12</h6>
                    <form action="">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control text-center mr-1">
                            <input type="text" class="form-control text-center mr-1">
                            <input type="text" class="form-control text-center mr-1">
                            <input type="text" class="form-control text-center mr-1">
                            <input type="text" class="form-control text-center mr-1">
                            <input type="text" class="form-control text-center">
                        </div>
                        <button class="btn btn-primary btn-block" routerLink="/reset-password">Verify</button>
                        <div class="form-group text-center mt-2">
                            <p class="dont-account">Didn’t get OTP? <a href="#" class="text-warning">Resend OTP</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>