<div class="admin-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
                    </ol>
                </nav>
                <div class="clearfix"></div>
                <form [formGroup]="edit_profile_form" (ngSubmit)="EditTeacherProfile()">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Personal Details</h5>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe"
                                        formControlName="name" name="name" [(ngModel)]="name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="123 456 7890"
                                        formControlName="phone" name="phone" [(ngModel)]="phone">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">Email Id</label>
                                    <input type="email" class="form-control" placeholder="john123@gmail.com"
                                        formControlName="email" name="email" [(ngModel)]="email" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">Address</label>
                                    <input type="text" class="form-control" placeholder="Address"
                                        formControlName="address" name="address" [(ngModel)]="address">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">State</label>
                                    <select name="" id="" formControlName="state" aria-placeholder="State"
                                        class="form-control" (change)="BasedOntheState(state)" [(ngModel)]="state"
                                        name="state" [(ngModel)]="state">
                                        <option value="" disabled>State</option>
                                        <option [value]="st.state" *ngFor="let st of state_array">{{st.state}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">City</label>
                                    <select name="" id="" class="form-control" aria-placeholder="City"
                                        [(ngModel)]="city" name="city" formControlName="city" [(ngModel)]="city">
                                        <option value="" disabled>City</option>
                                        <option [value]="ct" *ngFor="let ct of city_array">{{ct}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">Zip Code</label>
                                    <input type="text" class="form-control" placeholder="Pincode"
                                        formControlName="pincode" name="pincode" [(ngModel)]="pincode">
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="">discription</label>
                                    <textarea class="form-control" placeholder="Description" rows="2"
                                        formControlName="description" name="description"
                                        [(ngModel)]="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Educational qualification</h5>
                            <button class="btn btn-link p-0" (click)="AddSchoolDetails()">
                                <i class="fas fa-plus-circle"></i> Add More School Details
                            </button>
                            <div class="form-row" *ngFor="let school_details of t.controls; let i = index">
                                <!-- {{school_details.school_name}} -->
                                <div class="col-md-12 row" [formGroup]="school_details">
                                    <div class="del-button" *ngIf="t.length > 1" (click)="delete_school_details(i+1)">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">School / University</label>
                                            <input type="text" class="form-control" formControlName="school_name"
                                                placeholder="School name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row application-step m-0">
                                            <div class="col-md-12">
                                                <label for="">Time Period</label>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="duration_from"
                                                        (change)="Educational_Qualification(school_details, i)">
                                                        <option value="" disabled>From</option>
                                                        <option [value]="yr" *ngFor="let yr of year_array">{{yr}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <h5 class="mt-3">To</h5>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="duration_to">
                                                        <option value="" disabled>To</option>
                                                        <option [value]="yr" *ngFor="let yr of year_array"
                                                            [disabled]="yr < this.edit_profile_form.value.school_details[i].duration_from || this.edit_profile_form.value.school_details[i].duration_from == ''">
                                                            {{yr}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">School / University</label>
                                        <input type="text" class="form-control" value="University of Calcutta">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row application-step m-0">
                                        <div class="col-md-12">
                                            <label for="">Time Period</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">2000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="mt-3">To</h5>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">2003</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">School / University</label>
                                        <input type="text" class="form-control" value="University of Patna">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row application-step m-0">
                                        <div class="col-md-12">
                                            <label for="">Time Period</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">2003</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="mt-3">To</h5>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">2005</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea
                                        class="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</textarea>
                                </div>
                            </div> -->
                            <div class="form-row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="card-title">Document/Certificate</h5>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <a *ngIf="certificate_img != null && certificate_img != ''"
                                                class="float-left" target="_blank" href="{{certificate_img}}">
                                                <i class="fa fa-file-pdf-o fa-3x"></i>
                                            </a>
                                            <div class="custom-file my-3">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                                    (change)="onFileChange($event)">
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                <p>{{uploded_msg}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <h5 class="card-title">Total Experience</h5>
                                    <button class="btn btn-link p-0" (click)="AddExperienceDetails()">
                                        <i class="fas fa-plus-circle"></i> Add More Experience
                                    </button>
                                </div>
                            </div>
                            <div class="experience-box">

                                <div class="form-row" *ngFor="let tch_information of g.controls; let i = index">
                                    <div class="col-md-12 row" [formGroup]="tch_information">
                                        <div class="del-button" *ngIf="g.length > 1"
                                            (click)="delete_experience_details(i+1)">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="">Teaching Experience</label>
                                            <input type="text" class="form-control" formControlName="experience"
                                                placeholder="Year's of experience">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="">University/College</label>
                                            <input type="text" class="form-control" formControlName="college_name"
                                                placeholder="College name">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-row application-step m-0">
                                                <div class="col-md-12">
                                                    <label for="">Time Period</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <select class="form-control" formControlName="duration_from"
                                                            (change)="Teaching_experience(tch_information, i)">
                                                            <option value="" disabled>From</option>
                                                            <option [value]="yr" *ngFor="let yr of year_array">{{yr}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <h5 class="mt-3">To</h5>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <select class="form-control" formControlName="duration_to">
                                                            <option value="" disabled>To</option>
                                                            <option [value]="yr" *ngFor="let yr of year_array"
                                                                [disabled]="yr < this.edit_profile_form.value.tch_information[i].duration_from || this.edit_profile_form.value.tch_information[i].duration_from == ''">
                                                                {{yr}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <h5 class="card-title">Competency Areas</h5>
                                    <!-- <h5 class="mt-3 text-left">Select your competency areas</h5> -->
                                    <ng-multiselect-dropdown [clearable]="true" [placeholder]="'custom placeholder'"
                                        [settings]="dropdownSettings" [data]="competency_array" [(ngModel)]="competency"
                                        formControlName="competency" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="form-row my-2">
                                <div class="col-md-12">
                                    <h5 class="card-title">Search Keyword</h5>
                                    <textarea class="form-control" placeholder="Search Keyword" rows="3"
                                        formControlName="search" name="search"
                                        [(ngModel)]="search"></textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="card-title">Resume</h5>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <!-- <div class="uploaded-doc">
                                                <div class="del-button">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <img src="assets/images/google-docs.png" alt="">
                                            </div> -->
                                            <a *ngIf="tch_resume_img != null && tch_resume_img != ''" class="float-left"
                                                target="_blank" href="{{tch_resume_img}}">
                                                <i class="fa fa-file-pdf-o fa-3x"></i>
                                            </a>
                                            <div class="custom-file my-3">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                                    (change)="ResumeUpload($event)">
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                <p>{{resume_uploded_msg}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="card-title">Profile image</h5>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="uploaded-doc profile-pic-uploader">
                                                <!-- <div class="del-button">
                                                    <i class="fa fa-times"></i>
                                                </div> -->
                                                <img src="{{profile_img}}" alt="">
                                            </div>
                                            <div class="custom-file my-3">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                                    (change)="ProfileUpload($event)">
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                                            <p>{{profile_uploded_msg}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="card-title">Documents</h5>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="aadhar_card"
                                                formControlName="identification_card" name="identification_card"
                                                (click)="IdentificationText('Aadhar card')"
                                                [(ngModel)]="identification_card">
                                            <label class="form-check-label" for="inlineRadio1">Aadhar&nbsp;card</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="pan_card" formControlName="identification_card"
                                                name="identification_card" (click)="IdentificationText('PAN card')"
                                                [(ngModel)]="identification_card">
                                            <label class="form-check-label" for="inlineRadio2">PAN card</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio3" value="passport" formControlName="identification_card"
                                                name="identification_card" (click)="IdentificationText('Passport')"
                                                [(ngModel)]="identification_card">
                                            <label class="form-check-label" for="inlineRadio3">Passport</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label for="" *ngIf="identification_text != ''"> Upload
                                                {{identification_text}}</label>
                                            <!-- <div class="uploaded-doc">
                                                <div class="del-button">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <img src="https://dummyimage.com/700x400/4f4f4f/fff" alt="">
                                            </div> -->
                                            <div class="col-md-3">
                                                <a *ngIf="id_proof_img != null && id_proof_img != ''" class="float-left"
                                                    target="_blank" href="{{id_proof_img}}">
                                                    <i class="fa fa-file-pdf-o fa-3x"></i>
                                                </a>
                                            </div>
                                            <div class="custom-file my-3">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile"
                                                    (change)="IdUpload($event)">
                                                <label class="custom-file-label" for="validatedCustomFile">Choose
                                                    file...</label>
                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                <p>{{id_uploded_msg}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right my-4">
                            <button class="btn btn-primary px-5"
                                [disabled]="!this.edit_profile_form.valid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>