<app-banner></app-banner>
<div class="category-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cat-heading">Top Categories.
                    <a href="#" class="btn btn-primary">View All</a>
                </h4>
                <div class="cat-slider">
                    <ngx-slick-carousel class="carousel catcarousel" #slickModal="slick-carousel" [config]="catcarousel">
                        <div ngxSlickItem *ngFor="let category of category" class="slide">
                            <a href="#">
                                <div class="category-box">
                                    <img src="{{ category.img }}" alt="">
                                    <h5>{{category.name}}</h5>
                                </div>
                            </a>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-us">
    <div class="container">
        <div class="join-wrap">
            <div class="left">
                <img src="assets/images/join-us.jpg" alt="">
            </div>
            <div class="right">
                <h4>Join us today as a Teacher or a Counsellor</h4>
                <div class="join-btns">
                    <a routerLink="/counselor/application-step1" class="btn btn-warning">Become a Counsellor</a>
                    <a routerLink="/teacher/application-step1" class="btn btn-primary">Become a Teacher</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cat-heading">Popular Courses.
                    <div class="course-tab">
                        <ul>
                            <li class="active">
                                <a href="#">Data Science</a>
                            </li>
                            <li>
                                <a href="#">Computer Science</a>
                            </li>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Healthcare</a>
                            </li>
                            <li>
                                <a href="#">Design</a>
                            </li>
                        </ul>
                    </div>
                </h4>
                <ngx-slick-carousel class="carousel coursecarousel" #slickModal="slick-carousel" [config]="coursecarousel">
                    <div ngxSlickItem *ngFor="let course of course" class="slide">
                        <div class="course-box">
                            <a routerLink="/course-details">
                                <div class="course-img">
                                    <img src="{{ course.img }}" alt="">
                                </div>
                                <div class="course-content">
                                    <h5 class="course-name">{{course.name}}</h5>
                                    <div class="rating">
                                        <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                        <h6 class="rating-total">4.6 (1234)</h6>
                                    </div>
                                    <h5 class="course-level">Intermediate</h5>
                                    <h3 class="estimate-time">Estimated Time
                                        <span>5 months at 5-10 hrs/week</span>
                                    </h3>
                                    <h2 class="course-price">₹455</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <div class="col-md-12 text-center">
                <a routerLink="/course-list" class="btn btn-outline-warning my-3">Explore All Courses</a>
            </div>
        </div>
    </div>
</div>

<div class="expert-teacher">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <h4>Our Expert Teachers.</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <a routerLink="/teacher/application-step1" class="btn btn-outline-warning">Become a Teacher</a>
                    <a routerLink="/counselor-list" class="btn btn-primary">See all Teachers</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right">
                    <ngx-slick-carousel class="carousel teachercarousel" #slickModal="slick-carousel" [config]="teachercarousel">
                        <div ngxSlickItem *ngFor="let teacher of teacher" class="slide">
                            <div class="teacher-box">
                                <a routerLink="/teacher-profile">
                                    <div class="teacher-img">
                                        <img src="{{ teacher.img }}" alt="">
                                    </div>
                                    <div class="teacher-content">
                                        <h5 class="course-name">{{teacher.name}}</h5>
                                        <div class="rating">
                                            <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                            <h6 class="rating-total">4.6 (1234)</h6>
                                        </div>
                                        <h5 class="course-level">Python Programmer</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counselors-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cat-heading">Popular Counselors
                    <a routerLink="/counselor-list" class="btn btn-primary">View All</a>
                </h4>
                <div class="counselor-slider">
                    <ngx-slick-carousel class="carousel counselorcarousel" #slickModal="slick-carousel" [config]="counselorcarousel">
                        <div ngxSlickItem *ngFor="let counselor of counselor" class="slide">
                            <div class="counselor-box">
                                <a routerLink="/counselor-profile">
                                    <div class="counselor-img">
                                        <img src="{{ counselor.img }}" alt="">
                                    </div>
                                    <h5 class="counselor-name">{{counselor.name}}</h5>
                                </a>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a routerLink="/counselor/application-step1" class="btn btn-outline-warning my-3">Become a Counsellor</a>
            </div>
        </div>
    </div>
</div>
<div class="counseling-sessions">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cat-heading">Counseling sessions
                    <a routerLink="/counselor-list" class="btn btn-primary">See all</a>
                </h4>
            </div>
            <div class="col-md-4">
                <div class="counseling-box">
                    <a routerLink="/counselor-profile">
                        <div class="counseling-img">
                            <img src="assets/images/counseling1.jpg" alt="">
                        </div>
                        <div class="counseling-by">
                            <div class="counseling-text">
                                <div class="counseling-rating">
                                    <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                </div>
                                <h5>Counseling sessions 1</h5>
                                <h6>By John Doe</h6>
                            </div>
                            <div class="counseling-person">
                                <img src="assets/images/avatar-small.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counseling-box">
                    <a href="#">
                        <div class="counseling-img">
                            <img src="assets/images/counseling1.jpg" alt="">
                        </div>
                        <div class="counseling-by">
                            <div class="counseling-text">
                                <div class="counseling-rating">
                                    <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                </div>
                                <h5>Counseling sessions 1</h5>
                                <h6>By John Doe</h6>
                            </div>
                            <div class="counseling-person">
                                <img src="assets/images/avatar-small.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counseling-box">
                    <a href="#">
                        <div class="counseling-img">
                            <img src="assets/images/counseling1.jpg" alt="">
                        </div>
                        <div class="counseling-by">
                            <div class="counseling-text">
                                <div class="counseling-rating">
                                    <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                </div>
                                <h5>Counseling sessions 1</h5>
                                <h6>By John Doe</h6>
                            </div>
                            <div class="counseling-person">
                                <img src="assets/images/avatar-small.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-part">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cat-heading justify-content-center">Parents and Students Testimonials</h4>
            </div>
            <div class="col-md-12">
                <div class="testimonial-slider">
                    <ngx-slick-carousel class="carousel testicarousel" #slickModal="slick-carousel" [config]="testicarousel">
                        <div ngxSlickItem *ngFor="let testimonial of testimonial" class="slide">
                            <div class="testimonial-box">
                                <div class="testi-user">
                                    <div class="testimonial-img">
                                        <img src="{{ testimonial.img }}" alt="">
                                    </div>
                                    <div class="testimonial-detail">
                                        <h5 class="testimonial-name">{{testimonial.name}}</h5>
                                        <h6 class="testimonial-place">Gujrat</h6>
                                    </div>
                                </div>
                               <p class="testi-content">
                                    {{testimonial.content}}
                               </p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>