.admin-dash{
    padding: 40px 0;
}
.admin-card{
    padding: 15px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    text-align: center;
}
.bg-success {
    background-color: #00ab27 !important;
    color: #fff;
}
.bg-info {
    color: #fff;
}

app-admin-header{
    display: -webkit-box;      
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex; 
    display: flex;
    justify-content: flex-end;
}
.static-top {
    width: calc(100% - 14rem);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    background: #0056d2 !important;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #0056d2;
}
.admin-wrap{
    width: calc(100% - 14rem); 
    margin-left: 14rem;
    margin-top: 5.5rem;
}
.admin-profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    img{
        width: 100%;
        height: 100%;
    }
}
.change-profile{
    position: relative;
    text-align: center;
    margin: 12px auto;
    width: 120px;
    .form-control-file{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 120px;
        height: 40px;
        opacity: 0;
    }
    .change-profile-pic{
        width: 120px;
        height: 40px;
        border-radius: 4px;
        background: #0056d2;
        text-align: center;
        color: #fff;
        padding: 8px 5px;
    }
}
.btn-primary {
    border-radius: 0.25rem !important;
}

.sidebar .nav-item .nav-link {
    padding: 10px 10px;
}
.btn-search{
    background-color: #39444d;
    border-color: #39444d;
}


.chat-wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .search-chat{
        background: #0056d2;
        padding: 10px;
        margin-bottom: 15px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        .form-control{
            background: transparent;
            color: #fff;
            font-size: 13px;
        }
        button{
            position: absolute;
            top: 5px;
            right: 0;
        }
        ::-webkit-input-placeholder { 
            color: #fff;
        }
        ::-moz-placeholder { 
            color: #fff;
        }
        :-ms-input-placeholder {
            color: #fff;
        }
        :-moz-placeholder { 
            color: #fff;
        }
    }
    .chat-list{
        width: 40%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px #ddd;
        ul{
            padding: 10px;
            overflow-y: scroll;
            height: 600px;
            li{
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex; 
                position: relative;
                border-bottom: 1px solid #eaeaea;
                padding: 8px 0;
                &:last-child{
                    border: none;
                }
                .avatar{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid #81a9d9;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    
                }
                .chat-person{
                    position: relative;
                    font-size: 16px;
                    margin: 0;
                    color: #666;
                    font-weight: 600;
                    .online-status{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        display: inline-block;
                        background: #eee;
                    }
                }
                .chat-text-short{
                    width: 75%;
                    padding-left: 10px;
                    p{
                        font-size: 13px;
                        margin-bottom: 0;
                        color: #9e9e9e;
                    }
                }
                .chat-date{
                    position: absolute;
                    color: #9e9e9e;
                    top: 0px;
                    right: 0;
                    font-size: 13px;
                }
                &.active{
                    .chat-person{
                        .online-status{
                            background: #49af0c;
                        } 
                    }
                    
                }
                &.inactive{
                    .chat-person{
                        .online-status{
                            background: #ff1818;
                        } 
                    }
                }
                &.idle{
                    .chat-person{
                        .online-status{
                            background: #ffa02f;
                        }
                    }
                }
                .msg-unread{
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 13px;
                    position: absolute;
                    top: 4px;
                    left: 28px;
                    background: #0056d2;
                    color: #fff;
                    line-height: 18px;
                }
            }
            
        }
    } 
    .chat-detail{
        width: 60%; 
        margin-left: 15px;
        position: relative;
    }
}

.msg-sender{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    position: relative;
    padding: 10px;
    background: #e5effb;
    border-radius: 5px;
    .avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #81a9d9;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .chat-person{
        position: relative;
        font-size: 16px;
        margin: 0;
        .online-status{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            background: #49af0c;
        }
    }
    .chat-text-short{
        width: 75%;
        padding-left: 10px;
        p{
            font-size: 13px;
            margin-bottom: 0;
            color: #9e9e9e;
        }
    }
}

.msg-chat-history{
    height: 588px;
    overflow-y: scroll;
    padding-bottom: 74px;
    padding-right: 10px;
    ul{
        margin-bottom: 20px;
        overflow: hidden;
        li{
            width: 100%;
            border-radius: 5px;
            margin-top: 10px;
            float: left;
            position: relative;
            padding-top: 22px;
            p{
                font-size: 14px;
                margin: 0;
            }
            .msg-time{
                font-size: 13px;
                color: #5f6061;
                position: absolute;
                top: 0;
                right: 0;
            }
            .sender{
                float: left;
                background: #e5effb;
                padding: 10px;
                border-radius: 5px;
                position: relative;
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 10px solid #e5effb;
                    position: absolute;
                    left: 1px;
                    bottom: -8px;
                }
            }
            .receiver{
                float: right;
                background: #0056d2;
                color: #fff;
                padding: 10px;
                border-radius: 5px;
                position: relative;
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 11px solid #0056d2;
                    position: absolute;
                    right: 1px;
                    bottom: -8px;
                }
            }
        }
    }
}
.btn-msg-send{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0056d2;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 0;
}
.chat-text-box{
    background: #fff;
    position: absolute;
    bottom: 0;
    height: 62px;
    width: 100%;
    padding-top: 8px;
    .form-control{
        border: 1px solid #b5b5b5;
        border-radius: 30px;
        padding: 5px 15px;
        min-height: 50px;
        width: 90%;
        padding-right: 50px;
    }
}
.attachment{
    position: absolute;
    right: 60px;
    top: 8px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
}
.attach-file{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    overflow: hidden;
    height: 50px;
    opacity: 0;
}
.action-button{
    .btn{
        border-radius: 30px;
        margin: 5px 2px;
    }
}

@media only screen and (max-width: 479px) {
    .static-top {
        width: calc(100% - 6.6rem);
    }
    .admin-wrap {
        width: calc(100% - 5rem);
        margin-left: 7rem;
    }
    .admin-card{
        margin-bottom: 15px;
    }
    #pills-tab{
        margin-top: 5px;
        .nav-item{
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }
    }
}


.blank-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.uploaded-doc{
    &.profile-pic-uploader{
        width: 120px;
        height: 120px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.back-btn{
    width: 120px;
}