<div class="admin-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Courses</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-9 order-md-2">
                <div class="course-list">
                    <ul>
                        <li *ngFor="let course of courses">
                            <a routerLink="/course-details">
                                <div class="course-box">
                                    <div class="course-img">
                                        <img src="{{ course.img }}" alt="">
                                    </div>
                                    <div class="course-content">
                                        <h5 class="course-name">{{course.name}}</h5>
                                        <div class="rating">
                                            <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                            <h6 class="rating-total">4.6 (1234)</h6>
                                        </div>
                                        <h5 class="course-level">{{course.difficulty}}</h5>
                                        <h3 class="estimate-time">Estimated Time
                                            <span>5 months at 5-10 hrs/week</span>
                                        </h3>
                                        <h2 class="course-price">₹455</h2>
                                    </div>
                                    <div class="created-by">
                                        <div class="creator-img">
                                            <img src="assets/images/avatar-small.jpg" alt="">
                                        </div>
                                        <div class="creator-name">
                                            <h4>
                                                Created by
                                                <span>John Doe</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 order-md-1">
                <select name="" id="" class="form-control mt-3">
                    <option value="">Lorem Street, Lorem Evnue</option>
                </select>
                <div class="filter-box">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Available Courses
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Available Counseling
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Development
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                            Business
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">
                            Finance & Accounting
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label" for="defaultCheck6">
                            IT & Software
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                        <label class="form-check-label" for="defaultCheck7">
                            Office Productivity
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                        <label class="form-check-label" for="defaultCheck8">
                            Personal Development
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                        <label class="form-check-label" for="defaultCheck9">
                            Design
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                        <label class="form-check-label" for="defaultCheck10">
                            Marketing
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                        <label class="form-check-label" for="defaultCheck11">
                            Lifestyle
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                        <label class="form-check-label" for="defaultCheck12">
                            Photography & Video
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                        <label class="form-check-label" for="defaultCheck13">
                            Health & Fitness
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                        <label class="form-check-label" for="defaultCheck14">
                            Music
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                        <label class="form-check-label" for="defaultCheck15">
                            Development
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                        <label class="form-check-label" for="defaultCheck16">
                            Business
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                        <label class="form-check-label" for="defaultCheck17">
                            Finance & Accounting
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                        <label class="form-check-label" for="defaultCheck18">
                            IT & Software
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="popular-courses">
                    <h4 class="cat-heading justify-content-center">View other courses that are similar to your search
                    </h4>
                    <ngx-slick-carousel class="carousel coursecarousel" #slickModal="slick-carousel"
                        [config]="coursecarousel">
                        <div ngxSlickItem *ngFor="let course of course" class="slide">
                            <div class="course-box">
                                <div class="course-img">
                                    <img src="{{ course.img }}" alt="">
                                </div>
                                <div class="course-content">
                                    <h5 class="course-name">{{course.name}}</h5>
                                    <div class="rating">
                                        <img src="assets/images/rating-4.png" alt="" width="87" height="15">
                                        <h6 class="rating-total">4.6 (1234)</h6>
                                    </div>
                                    <h5 class="course-level">Intermediate</h5>
                                    <h3 class="estimate-time">Estimated Time
                                        <span>5 months at 5-10 hrs/week</span>
                                    </h3>
                                    <h2 class="course-price">₹455</h2>
                                </div>
                                <div class="created-by">
                                    <div class="creator-img">
                                        <img src="assets/images/avatar-small.jpg" alt="">
                                    </div>
                                    <div class="creator-name">
                                        <h4>
                                            Created by
                                            <span>John Doe</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>