<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="application-step">
                <h3>Counsellor Application Form</h3>
                <div class="step-form">
                    <ul>
                        <li class="active past">
                            <span>Step 1</span>
                        </li>
                        <li class="active">
                            <span>Step 2</span>
                        </li>
                        <li class="">
                            <!-- past -->
                            <span>Step 3</span>
                        </li>
                    </ul>
                </div>
                <form [formGroup]="step2_form" (ngSubmit)="SubmitStep2()">
                    <h5 class="mt-5 mb-3">Educational qualification</h5>
                    <div class="form-group" *ngFor="let service of t.controls; let i = index">
                        <div class="row" [formGroup]="service">
                            <input type="text" class="form-control" placeholder="Graduate" formControlName="service">
                            <button class="btn edit-btn" title="Edit" (click)="AddServiceDetails()">
                                <i class="fas fa-plus"></i>
                            </button>

                            <a class="remove-icon" *ngIf="t.length > 1" (click)="delete_service_details(i+1)">
                                    <i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group" *ngFor="let award of p.controls; let i = index">
                        <div class="row" [formGroup]="award">
                            <input type="text" class="form-control" placeholder="Certificates" formControlName="award">
                            <button class="btn edit-btn" title="Edit" (click)="AddAwardDetails()">
                                <i class="fas fa-plus"></i>
                            </button>
                            <a class="remove-icon" *ngIf="p.length > 1" (click)="delete_award_details(i+1)">
                                <i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                    <div class="row form-group upload-card card p-3">
                        <h5 class="mt-1 mb-3">Upload Document/Certificate</h5>
                        <div class="upload-wrap">
                            <div class="upload">
                                <input type="file" class="btn-upload" (change)="onFileChange($event)">
                                <button class="btn btn-outline-warning">Upload</button>
                            </div>
                            <div class="uploaded-file">
                                <ul>
                                    <li>
                                        <!-- <i class="fas fa-file-pdf"></i> -->
                                        <p>{{uploded_msg}}</p>
                                        <!-- <button class="btn btn-sm cross">
                                            <i class="far fa-times-circle"></i>
                                        </button> -->
                                    </li>
                                    <!-- <li>
                                        <i class="fas fa-image"></i>
                                        <p>abcd.jpeg</p>
                                        <button class="btn btn-sm cross">
                                            <i class="far fa-times-circle"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <i class="fas fa-image"></i>
                                        <p>abcd.jpeg</p>
                                        <button class="btn btn-sm cross">
                                            <i class="far fa-times-circle"></i>
                                        </button>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">Allowed Type : Excel, PPT, PDF, JPEG
                            5 MB Limit</p>
                    </div>
                    <div class="row form-group upload-card card p-3">
                        <h5 class="mt-1 mb-3">Upload Profile image</h5>
                        <div class="upload-wrap">
                            <div class="upload">
                                <input type="file" class="btn-upload" (change)="ProfileChange($event)">
                                <button class="btn btn-outline-warning">Upload</button>
                            </div>
                            <div class="uploaded-file">
                                <ul>
                                    <li>
                                        <!-- <i class="fas fa-image"></i> -->
                                        <p>{{profile_uploded_msg}}</p>
                                        <!-- <button class="btn btn-sm cross">
                                            <i class="far fa-times-circle"></i>
                                        </button> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">Allowed Type :JPEG, PNG
                            5 MB Limit</p>
                    </div>
                    <div class="appli-btn">
                        <button class="btn btn-outline-primary" routerLink="/counsellor/application-step1">Back</button>
                        <button class="btn btn-primary" [disabled]="!step2_form.valid">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>