<div class="admin-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="admin-card bg-primary">
                    <h4>Total Students</h4>
                    <h1>2615</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="admin-card bg-warning">
                    <h4>Total Teachers</h4>
                    <h1>126</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="admin-card bg-success">
                    <h4>Total Counsellors</h4>
                    <h1>64</h1>
                </div>
            </div>
            <div class="col-md-3">
                <div class="admin-card bg-info">
                    <h4>Total Revenue</h4>
                    <h1>₹ 23658</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="main-heading mt-4">Students Record</h4>
                <div class="admin-card">
                    <div id="adminchart"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="main-heading mt-4">Total Earning</h4>
                <div class="admin-card">
                    <div id="admindonut"></div>
                </div>
            </div>
        </div>
    </div>
</div>
