<div class="admin-login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="login-box">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" routerLink="/admin">
                        <img src="assets/images/logo.png" width="160" alt="">
                    </a>
                    <h3>Log In</h3>
                    <form [formGroup]="login_form" (ngSubmit)="login()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email address" formControlName="email"
                                name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password" name="password">
                        </div>
                        <div class="form-group text-right">
                            <a routerLink="/forgot-password" class="text-warning">Forgot Password</a>
                        </div>
                        <button class="btn btn-primary btn-block" [disabled]="!login_form.valid">Login</button>
                        <!-- <div class="form-group text-center mt-3">
                            <p class="dont-account">Don't have an account? <a routerLink="/admin/signup">Sign up</a></p>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>