<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <img src="assets/images/banner-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right">
                    <h4>This is <span>Learning Platform</span></h4>
                    <p>
                        Learn 100% online with world class universities and industry 
                        experts. Develop hobbies, new skills and career-changing expertise with our flexible courses.
                    </p>
                    <a routerLink="/counselor-list" class="btn btn-outline-warning">Explore Counselors</a>
                    <a routerLink="/course-list" class="btn btn-primary">Explore Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>