<!-- Admin Sidebar -->
<!-- <ul id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center" routerLink="/admin/dashboard">
        <div class="sidebar-brand-text mx-3">Vidyalu</div>
    </a>
    <hr class="sidebar-divider my-0 mb-2">
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>User List</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User List</h6>
                <a class="collapse-item" routerLink="/admin/student-list">Student-List</a>
                <a class="collapse-item" routerLink="/admin/teacher-list">Teacher-List</a>
                <a class="collapse-item" routerLink="/admin/counsellor-list">Counsellor-List</a>
            </div>
        </div>
    </li>
</ul> -->
<!-- End of Admin Sidebar -->


<!-- Teacher Sidebar -->

<!-- End of Teacher Sidebar -->


<div [ngSwitch]="role">
    <ng-container *ngSwitchCase="'teacher'">
        <ul id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center" routerLink="/">
                <div class="sidebar-brand-text mx-3">Vidyalu</div>
            </a>
            <hr class="sidebar-divider my-0 mb-2">
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/teacher-profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/teacher/course-list">
                    <i class="far fa-file-alt"></i>
                    <span>Course</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/counsellor-search-list">
                    <i class="fas fa-search"></i>
                    <span>Search Counsellor/Teacher</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/booking-history">
                    <i class="fas fa-history"></i>
                    <span>Booking History</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/student-management">
                    <i class="fas fa-stream"></i>
                    <span>Student Management</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/bank-details">
                    <i class="fas fa-university"></i>
                    <span>Bank Details</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/video-conference">
                    <i class="fas fa-video"></i>
                    <span>Video Conference</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/teacher/chat">
                    <i class="far fa-comments"></i>
                    <span>Chat</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/teacher/help-support">
                    <i class="far fa-question-circle"></i>
                    <span>Help & Support</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a href="javascript:void(0);" class="nav-link" (click)="User_Logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'counsellor'">
        <ul id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center" routerLink="/">
                <div class="sidebar-brand-text mx-3">Vidyalu</div>
            </a>
            <hr class="sidebar-divider my-0 mb-2">
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/counsellor-profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/counsellor/session-list">
                    <i class="fas fa-plus-square"></i>
                    <span>Session</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/counsellor-search-list">
                    <i class="fas fa-search"></i>
                    <span>Search Counsellor/Teacher</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/booking-history">
                    <i class="fas fa-history"></i>
                    <span>Booking History</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/student-management">
                    <i class="fas fa-stream"></i>
                    <span>Student Management</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="counsellor/bank-details">
                    <i class="fas fa-university"></i>
                    <span>Bank Details</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/video-conference">
                    <i class="fas fa-video"></i>
                    <span>Video Conference</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/counsellor/chat">
                    <i class="far fa-comments"></i>
                    <span>Chat</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/counsellor/help-support">
                    <i class="far fa-question-circle"></i>
                    <span>Help & Support</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a href="javascript:void(0);" class="nav-link" (click)="User_Logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'student'">
        <ul id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center" routerLink="/">
                <div class="sidebar-brand-text mx-3">Vidyalu</div>
            </a>
            <hr class="sidebar-divider my-0 mb-2">
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/student/student-profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/student/dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/student/courses-purchased">
                    <i class="far fa-file-alt"></i>
                    <span>Courses Purchased</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/student/courses-list">
                    <i class="far fa-file-alt"></i>
                    <span>Course List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/student/session-list">
                    <i class="far fa-file-alt"></i>
                    <span>Session List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/counsellor-search-list">
                    <i class="fas fa-search"></i>
                    <span>Search Counsellor/Teacher</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/student/student-booking-history">
                    <i class="fas fa-history"></i>
                    <span>Booking History</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/student/student-video-conference">
                    <i class="fas fa-video"></i>
                    <span>Video Conference</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/student/chat">
                    <i class="far fa-comments"></i>
                    <span>Chat</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a class="nav-link" routerLink="/student/student-help-support">
                    <i class="far fa-question-circle"></i>
                    <span>Help & Support</span>
                </a>
            </li>
            <li class="nav-item">                                                       
                <a href="javascript:void(0);" class="nav-link" (click)="User_Logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        
        </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
        <ul id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center" routerLink="/admin/dashboard">
                <div class="sidebar-brand-text mx-3">Vidyalu</div>
            </a>
            <hr class="sidebar-divider my-0 mb-2">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-list-ul"></i>
                    <span>User List</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User List</h6>
                        <a class="collapse-item" routerLink="/admin/student-list">Student-List</a>
                        <a class="collapse-item" routerLink="/admin/teacher-list">Teacher-List</a>
                        <a class="collapse-item" routerLink="/admin/counsellor-list">Counsellor-List</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/course-list">
                    <i class="fa fa-book-open"></i>
                    <span>Course-List</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/session-list">
                    <i class="fa fa-book-open"></i>
                    <span>Session-List</span></a>
            </li>
        </ul>
    </ng-container>
</div>