<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="login-box">
                <h3>Sign up</h3>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone Number">
                    </div>
                    <button class="btn btn-primary btn-block" routerLink="/admin">Sign up</button>
                    <div class="form-group text-center mt-3">
                        <p class="dont-account">Already have an account? <a routerLink="/admin">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>