<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="application-step">
                <h3>Counsellor Application Form</h3>
                <div class="step-form">
                    <ul>
                        <li class="active past">
                            <span>Step 1</span>
                        </li>
                        <li class="active past">
                            <span>Step 2</span>
                        </li>
                        <li class="active">
                            <!-- past -->
                            <span>Step 3</span>
                        </li>
                    </ul>
                </div>
                <form [formGroup]="step3_form" (ngSubmit)="SubmitStep3()">
                    <h5 class="mt-5 mb-3">Upload any Documents</h5>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="aadhar_card" formControlName="identification_card" name="identification_card"
                                (click)="IdentificationText('Aadhar card')">
                            <label class="form-check-label" for="inlineRadio1">Aadhar&nbsp;card</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="pan_card" formControlName="identification_card" name="identification_card"
                                (click)="IdentificationText('PAN card')">
                            <label class="form-check-label" for="inlineRadio2">PAN card</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="passport" formControlName="identification_card" name="identification_card"
                                (click)="IdentificationText('Passport')">
                            <label class="form-check-label" for="inlineRadio3">Passport</label>
                        </div>
                    </div>
                    <div class="form-group upload-card card p-3">
                        <h5 class="mt-1 mb-3 text-left" *ngIf="identification_text != ''">Upload {{identification_text}}</h5>
                        <div class="upload-wrap">
                            <div class="upload">
                                <input type="file" class="btn-upload" (change)="IdUpload($event)">
                                <button class="btn btn-outline-warning">Upload</button>
                            </div>
                            <div class="uploaded-file">
                                <ul>
                                    <li>
                                        <!-- <i class="fas fa-file-pdf"></i> -->
                                        <p>{{id_uploded_msg}}</p>
                                        <!-- <button class="btn btn-sm cross">
                                            <i class="far fa-times-circle"></i>
                                        </button> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">Allowed Type : Excel, PPT, PDF, JPEG
                            5 MB Limit</p>
                    </div>
                    <div class="form-group upload-card card p-3">
                        <h5 class="mt-1 mb-3 text-left">Search Keyword</h5>
                        <textarea class="form-control"
                            formControlName="search" rows="3" placeholder="Search keyword should be , seperated"></textarea>
                    </div>
                    <div class="appli-btn">
                        <button class="btn btn-outline-primary" routerLink="/counsellor/application-step2">Back</button>
                        <button class="btn btn-primary" [disabled]="!this.step3_form.valid">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>