<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="login-box">
                <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" routerLink="/admin">
                    <img src="assets/images/logo.png" width="160" alt="">
                </a>
                <h3>Forgot Password</h3>
                <h6>Enter your email and we will send you a reset password link.</h6>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                    <button class="btn btn-primary btn-block" routerLink="/admin/otp-verification">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>