<div class="admin-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chat-wrap">
                    <div class="chat-list">
                        <div class="search-chat">
                            <input type="text" class="form-control" placeholder="Search">
                            <button class="btn btn-link">
                                <img src="assets/images/icon-search.png" alt="">
                            </button>
                        </div>
                        <ul>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                                <div class="msg-unread">
                                    4
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                    
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                            </li>
                            <li class="inactive">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                            </li>
                            <li class="idle">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                    
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                                <div class="msg-unread">
                                    2
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                    
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                    
                                </div>
                            </li>
                            <li class="active">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                            </li>
                            <li class="inactive">
                                <div class="avatar">
                                    <img src="assets/images/avatar.jpg" alt="">
                                </div>
                                <div class="chat-text-short">
                                    <h5 class="chat-person">
                                        Jhon Doe
                                        <span class="online-status"></span>
                                    </h5>
                                    <p>
                                        Lorem ipsum dolor sit amet..
                                    </p>
                                    <span class="chat-date">
                                        30 Aug
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-detail">
                        <div class="msg-sender">
                            <div class="avatar">
                                <img src="assets/images/avatar.jpg" alt="">
                            </div>
                            <div class="chat-text-short">
                                <h5 class="chat-person">
                                    Jhon Doe
                                    <span class="online-status"></span>
                                </h5>
                                <p>
                                    Vedic Math's Course for Class 9th
                                </p>
                            </div>
                        </div>
                        <div class="msg-chat-history">
                            <ul>
                                <li>
                                    <div class="sender">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="receiver">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="sender">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="receiver">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="sender">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="sender">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="receiver">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                                <li>
                                    <div class="receiver">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur
                                        </p>
                                    </div>
                                    <span class="msg-time">03:20 PM</span>
                                </li>
                            </ul>
                            <div class="chat-text-box">
                                <input type="text" class="form-control" placeholder="Your Message">
                                <button class="btn btn-msg-send" type="submit">
                                    <img src="assets/images/send-icon.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
